/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(164, 37, 79);
  height: 100vh;
  background-color: white;
  margin: 0.5rem;
  letter-spacing: 1px;
}
	
div.wrapper {
  max-width: 64rem;
  margin: 0 auto;
  border: 6px solid rgb(228, 15, 115);
  box-shadow: 0 0 10px 3px rgb(202, 107, 162);
  background-color: rgba(245, 159, 173, 0.623);
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color: rgb(235, 144, 161);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  text-align: center;
  padding: .5rem;
  border: 2px double white;
  background: linear-gradient( rgb(224, 119, 161), 20%,rgba(255, 255, 255, 0.497));
}

header h1 {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}

/* ⬇ The h1's link */
header h1 a {

  color: rgba(223, 15, 129, 0.575);
}

a:hover {
  color: rgb(181, 55, 97);
  background: linear-gradient( white, pink);
  text-decoration: none;
}

header h2 {
  font-size: 125%;
  color: rgb(195, 48, 126);
  padding: 0.5rem;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  background-color: rgba(238, 119, 176, 0.473);
  padding: .5rem;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  margin: 0;
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: rgb(215, 43, 129); /* ← you can change this */
  transition: all 0.75s ease-in-out;
  text-shadow: 1px 1px pink;
  font-weight: bolder;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background: linear-gradient(pink, 20%, white); /* ← you can change this */
	border-radius: 2rem;

}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 2rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 140%;
  text-transform: uppercase;
  border-bottom: 4px double white;
  line-height: 200%;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 160%;
  line-height: 130%;
  color: rgb(189, 88, 122);
  padding: .5rem;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  background-color: rgba(216, 112, 147, 0.266);
  border: 4px solid rgb(252, 200, 208);
  text-align: center;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 115%;
  padding: 1rem;
  text-transform: uppercase;
  text-shadow: 4px 4px pink;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin: 1rem;
  list-style-type: none;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: .5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  display: block;
  padding: 1rem;
  color: rgba(172, 15, 67, 0.834);
  background: linear-gradient( rgb(224, 119, 161), 20%,rgba(255, 255, 255, 0.497));
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  text-decoration: none;
  color: white;
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  grid-column: 1/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  background-color: rgba(216, 112, 147, 0.474) ;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  border: 6px solid pink;
  padding: .5rem;
}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 100%;
  font-style: italic;
  text-transform: uppercase;
  padding: .5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgb(134, 90, 97);
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  padding: .5rem;
  text-align: center;
}

/* ⬇ Picture of each building */
section.campus img:hover {
	border: 5px double ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px rgb(109, 31, 78); /* ← you can change this */
  transform: scale(1.5);
  transition: ease 2s;
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  padding-top: .5rem;
  font-weight: bold;
  font-size: 115%;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: rgb(235, 144, 161);
  padding: 1rem;
  border: 5px solid pink;
}

footer small { 
  font-size: 95%;
  line-height: 100%;
  color: rgb(127, 47, 60);
}

/* ⬇ The link in the footer */
footer a {
  color: rgba(223, 15, 129, 0.575);
  font-weight: bolder;
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/
  @media (max-width: 768px) {

    div.wrapper {
      width: 95%;
    }

    img {
      max-width: 100%;
    }

    header {
      text-align: center;
      flex-direction: column;
    }

    nav.topnav {
      margin: 1rem;
    }

    main.homepage {
      grid-template-columns: 1fr 1fr;
    }

    article.blog {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    main.homepage aside.recent {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    main.homepage aside.links {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    section.campus {
      grid-column: 1/5;
      grid-template-columns: 1fr 1fr 1fr;
    }

    section.campus figure {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;
      align-items: center;
    }

    article.blog h2 {
      font-size: 170%;
    }

    article.blog p {
      font-size: 165%;
      line-height: 170%;
    }

    main.homepage aside h3 {
      font-size: 115%;
    }

    main.homepage aside li {
      margin-bottom: 1rem;
    }

    main.homepage aside a {
      font-size: 110%;
      padding: 1.5rem;
    }

    section.campus h3 {
      font-size: 105%;
    }

    section.campus figcaption {
      font-size: 100%;
      text-align: center;
    }

  }



/* PHONE
---------------------------------------*/
  @media (max-width: 480px) {

    div.wrapper {
      width: 100%;
      margin: 0;
    }

    header {
      padding: 1rem;
      margin: 0;
    }

    nav.topnav {
      width: 98%;
      margin: .5rem;
    }

    nav.topnav ul {
      flex-direction: column;
    }

    nav.topnav li {
      border-bottom: 1px;
    }

    nav.topnav li:last-of-type {
      border: none;
    }

    main.homepage {
      grid-template-columns: 1fr;
    }

    article.blog {
      grid-column: 1/3;
      font-size: 90%;
      line-height: 50%;
    }

    article.blog h2 {
      font-size: 135%;
    }

    main.homepage aside {
      display: none;
    }

    section.campus {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    section.campus h3 {
      font-size: 120%;
    }

    section.campus figure {
      background-color: rgb(245, 171, 196);
      padding-right: 5rem;
      border-radius: 10%;
    }

    section.campus figcaption {
      font-size: 100%;
      line-height: 95%;
      text-align: left;
    }

  }
